@charset "UTF-8";
/* позиционирование контента внутри кнопок */
.button__icon--burger, .button__icon--tools, .button__icon--search, .button__icon--phone, .button__icon--chat, .button__icon--contact {
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  display: none;
}

html {
  box-sizing: border-box;
}

button {
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "TT Lakes";
  src: local("Lexend Peta Regular"), local("LexendPeta-Regular"), url("../fonts/TTLakes-Regular.woff") format("woff"), url(../fonts/TTLakes-Regular.ttf) format("ttf");
  font-weight: normal;
}
@font-face {
  font-family: "TT Lakes bold";
  src: local("Lexend Peta Regular"), local("LexendPeta-Regular"), url("../fonts/TTLakes-ExtraBold.woff") format("woff"), url(../fonts/TTLakes-ExtraBold.ttf) format("ttf");
  font-weight: 800;
}
@font-face {
  font-family: "TT Lakes medium";
  src: local("Lexend Peta Regular"), local("LexendPeta-Regular"), url("../fonts/TTLakes-Medium.woff") format("woff"), url(../fonts/TTLakes-Medium.ttf) format("ttf");
  font-weight: 500;
}
body {
  margin: 0;
  padding: 0;
  font-family: "TT Lakes", sans-serif;
}

h1,
h2,
h3 {
  font-family: "TT Lakes bold", sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: -0.6px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  padding: 24px 16px;
}

.menu {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.contain-btn {
  display: flex;
  gap: 16px;
  align-items: center;
}

.button {
  position: relative;
  display: flex;
  border: none;
  background-color: inherit;
}

/* Кнопки в меню, стилизация */
.button__icon {
  background-color: #ff3e79;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

/* Кнопки в мейне, стилизация */
.main__button-section {
  display: flex;
}

.main__button {
  font-family: "TT Lakes medium", sans-serif;
  display: inline-block;
  padding: 8px 16px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 5px;
  color: #7e7e82;
  border-color: #b8ffec;
  cursor: pointer;
  background-color: inherit;
  border: 2px solid transparent;
}

.main__button:hover {
  border: 2px solid #b8ffec;
  background-color: #ffffff;
}

/* Контент кнопок */
.button__icon--burger {
  background-image: url(../ic/icon-burger.svg);
}

.button__icon--tools {
  background-image: url(../ic/icon-tools.svg);
}

.button__icon--search {
  background-image: url(../ic/icon-search.svg);
}

.button__icon--phone {
  background-image: url(../ic/icon-phone.svg);
}

.button__icon--chat {
  background-image: url(../ic/icon-chat.svg);
}

.button__icon--contact {
  background-image: url(../ic/icon-contact.svg);
}

/* Блоки кнопок для псевдоэлементов и отображения на разных разрешениях(ширине) */
.menu__services {
  position: relative;
  display: flex;
  gap: 16px;
}

.menu__services::before {
  content: "";
  background-color: #eaeaea;
  border-radius: 1px;
  position: absolute;
  width: 2px;
  height: 32px;
  top: 4px;
  left: -20px;
}

.menu__contacts,
.header__buttons {
  display: none;
}

.main {
  background-color: #f8f8f8;
  height: calc(100vh - 106px);
}

.main__title {
  position: relative;
  display: flex;
  margin-bottom: 24px;
}

.main__title::before {
  content: "";
  display: block;
  background-color: #41f6d7;
  border-radius: 4px;
  position: absolute;
  width: 4px;
  height: 40px;
  top: 4px;
  left: -16px;
}

.main__button-section {
  overflow: scroll;
  mask: linear-gradient(90deg, transparent, #fff 3%, #fff 95%, transparent);
  margin-bottom: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__text {
  height: 90px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__button {
  align-self: flex-start;
}

.about__logo {
  width: 100vw;
  margin-left: -16px;
}

@media (min-width: 768px) {
  .menu__logo {
    margin-right: auto;
    margin-left: 20px;
  }

  .menu__contacts {
    display: flex;
    gap: 16px;
  }

  .menu__contacts {
    margin-right: 22px;
  }

  .container {
    padding: 24px;
  }

  .contain-btn {
    gap: 20px;
  }

  .button--burger {
    position: relative;
  }

  .button--burger::after {
    content: "";
    background-color: #eaeaea;
    border-radius: 1px;
    position: absolute;
    width: 2px;
    height: 32px;
    top: 4px;
    right: -20px;
  }

  .main__title::before {
    left: -24px;
  }

  .main__title,
  .main__button-section {
    margin-bottom: 32px;
  }

  .content__text {
    height: 130px;
  }

  .about {
    display: flex;
    gap: 48px;
  }

  .about__logo {
    height: 205px;
    width: 360px;
  }
}
@media (min-width: 1120px) {
  .header {
    display: none;
  }

  .container {
    padding: 42px 25px 50px 35px;
  }

  .main__title {
    margin: 0;
  }

  .main__title::before {
    left: -35px;
  }

  .main__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }

  .header__buttons {
    display: flex;
    gap: 32px;
  }

  .button {
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: 600;
  }

  .main {
    height: 100vh;
  }

  .main__button-section {
    display: flex;
    flex-wrap: wrap;
  }

  .about {
    gap: 36px;
  }

  .about__logo {
    height: 305px;
    width: 530px;
  }

  .main__button-section {
    mask: unset;
  }
}
.content__text {
  letter-spacing: 0.2px;
  font-size: 14px;
  margin-bottom: 16px;
  line-height: 18px;
}

.content__button {
  position: relative;
  border: none;
  background-color: inherit;
  font-size: 16px;
  font-weight: 600;
  margin-left: 20px;
  cursor: pointer;
  margin-bottom: 16px;
}

.content__button::before {
  content: "";
  background-image: url(../ic/icon-button-arrow.svg);
  position: absolute;
  width: 7.5px;
  height: 10px;
  top: 6px;
  left: -20px;
}
